/* Custom CSS */

.header-link:after {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
a.header-link {
  text-decoration: none;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

code {
  color: #000000;
  background-color: #d5f1f1;
  font-family: Menlo, Monaco, Consolas, monospace, "Courier New";
}

/* Cards for desafios */
.desafio-cards {
  min-height: 280px;
  /*border:1px solid #eeeeee;*/
  margin-bottom: 24px;
  padding-top: 24px;
  background-color: #e2f0f7;
}

.desafio-cards-title {
  text-align: center;
}

.desafio-intro {
  text-align: center !important;
}

.desafio-difficulty {
  text-align: center;
}
