
    <div style="position: absolute;top: 220px;right: 1%;z-index: 5;background-color: #fff;background: rgba(255, 255, 255, 0.1);padding: 5px;border: 0;text-align: center;font-family: 'Roboto','sans-serif';line-height: 30px;padding-left: 10px;">
        <button style="width: 130px;" onclick="toggleHeatmap()">Toggle Heatmap</button><BR>
        <button style="width: 130px;" onclick="changeGradient()">Change gradient</button><BR>
        <button style="width: 130px;" onclick="changeRadius()">Change radius</button><BR>
        <button style="width: 130px;" onclick="changeOpacity()">Change opacity</button><BR>
        <div id="members"></div>
    </div>
    
<div>
    <div style="width:10%;display: inline-block;"></div>
    <div id="map" style="width:80%;height: 500px;display: inline-block;"></div>
    <div style="width:10%;display: inline-block;"></div>
</div>
      
<script>
    var map, heatmap;

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        var gradient = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 255, 255, 1)',
            'rgba(0, 191, 255, 1)',
            'rgba(0, 127, 255, 1)',
            'rgba(0, 63, 255, 1)',
            'rgba(0, 0, 255, 1)',
            'rgba(0, 0, 223, 1)',
            'rgba(0, 0, 191, 1)',
            'rgba(0, 0, 159, 1)',
            'rgba(0, 0, 127, 1)',
            'rgba(63, 0, 91, 1)',
            'rgba(127, 0, 63, 1)',
            'rgba(191, 0, 31, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    function getPoints() {
        var retorno = [];
        $.ajaxSetup({async:false});
        members = 0;
        $.get('https://location.osprogramadores.com',function(data){
            console.log(data)
            $.each(data,function(index,value) {retorno.push(new google.maps.LatLng(value.Latitude, value.Longitude)); members++;});
        });

        $('#members').html(members+' members');

        return retorno;
    }

    function initMap() {
        points = getPoints();

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 27.121, lng: -36.119},
            mapTypeId: 'satellite'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: points,
            map: map
        });
    }
</script>

