
    <div style="position: absolute;top: 220px;right: 1%;z-index: 5;background-color: #fff;background: rgba(255, 255, 255, 0.1);padding: 5px;border: 0;text-align: center;font-family: 'Roboto','sans-serif';line-height: 30px;padding-left: 10px;">
        <button style="width: 90px;" onclick="changeGradient()">Gradiente</button><BR>
        <button style="width: 90px;" onclick="changeRadius()">Raio</button><BR>
        <button style="width: 90px;" onclick="changeOpacity()">Opacidade</button><BR>
        <button style="width: 90px;" onclick="window.location.href='/instrucoes/'">Instruções</button><BR>
        <div id="members"></div>
    </div>

<div>
    <div style="width:10%;display: inline-block;"></div>
    <div id="map" style="width:80%;height: 600px;display: inline-block;"></div>
    <div style="width:10%;display: inline-block;"></div>
</div>

<script>
    var map, heatmap;
    var gradient = [
        'rgba(0, 255, 255, 0)',
        'rgba(0, 255, 255, 1)',
        'rgba(0, 191, 255, 1)',
        'rgba(0, 127, 255, 1)',
        'rgba(0, 63, 255, 1)',
        'rgba(0, 0, 255, 1)',
        'rgba(0, 0, 223, 1)',
        'rgba(0, 0, 191, 1)',
        'rgba(0, 0, 159, 1)',
        'rgba(0, 0, 127, 1)',
        'rgba(63, 0, 91, 1)',
        'rgba(127, 0, 63, 1)',
        'rgba(191, 0, 31, 1)',
        'rgba(255, 0, 0, 1)'
    ]

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }

    function getPoints() {
        var retorno = [];
        $.ajaxSetup({async:false});
        members = 0;
        $.get('https://location.osprogramadores.com',function(data){
            console.log(data)
            $.each(data,function(index,value) {retorno.push(new google.maps.LatLng(value.Latitude, value.Longitude)); members++;});
        });

        $('#members').html(members+' members');

        return retorno;
    }

    function initMap() {
        points = getPoints();

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: {lat: 15.0, lng: -40.0},
            mapTypeId: 'satellite'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: points,
            map: map
        });
        heatmap.set('gradient', gradient);
    }
</script>
