name: Presubmit tests
on: [pull_request]
jobs:
  pr_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          submodules: true  # Fetch Hugo themes.

      - name: Check files with invalid UTF-8 content
        run: |
          ./ci/utfcheck.sh

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.59.1'

      - name: Build Site
        run: hugo -v

      - name: Build checkparticipantes
        run: |
          pushd ci && go build -o checkparticipantes && popd

      - name: Validates PARTICIPANTES.md
        run: ci/checkparticipantes PARTICIPANTES.md
